.product_container {
    display: flex;
    .filter_section {
        width: 25%;
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    .product_details_container {
        width: 75%;
        .card_area {
            display: flex;
            flex-wrap: wrap;
            margin-right: 8px;
        }
    }
}